{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block contenedor %}
<td><a class="btn btn-outline-primary" href="{% url 'app_RRHH:create' %}">Crear Persona</a></td>
<br>
<table class="table table-hover">
    <thead>
        <tr class="table-dark">
            <th scope="col">Id</th>
            <th scope="col">Nombre y Apellido</th>
            <th scope="col">Sexo</th>
            <th scope="col">Activo en Planta?</th>
            <th scope="col">Puesto</th>
            <th scope="col">Edad</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for empleados in empleado %}
        <tr>
            <td scope="row">{{ empleado.id }}</td>
            <td>{{ empleados.nombre }} {{ empleado.apellido }}</td>
            <td>{{ empleados.sexo }}</td>
            <td>{{ empleados.activo }}</td>
            <td>{{ empleados.puesto }}</td>
            <td>{{ empleados.edad_persona }}</td>
            <td><a class="btn btn-outline-primary" href="{% url 'app_RRHH:detalle' empleados.id %}">Detalle</a></td>
            <td><a class="btn btn-outline-primary" href="{% url 'app_RRHH:editar' empleados.id %}">Editar</a></td>
            <td><a class="btn btn-outline-primary" href="{% url 'app_RRHH:edit' empleados.id %}">Editar 2</a></td>
            <td><a class="btn btn-outline-primary" href="{% url 'app_RRHH:delete' empleados.id %}">Eliminar</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="contenedor">
<h3>hola</h3>
</div>
<a class="btn btn-outline-primary me-2" href="{% url 'home' %}">Volver</a>

<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <h4>Total de empleados de Empleados:</h4>
        <span class="badge bg-primary rounded-pill">{{ contar }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <h4>Empleados Activos:</h4>
        <span class="badge bg-primary rounded-pill">{{ activo }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <h4>Empleados No-Activos:</h4>
        <span class="badge bg-primary rounded-pill">{{ noactivo }}</span>
    </li>
</ul>
{% endblock contenedor %}