{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block contenedor %}
<td><a class="btn btn-outline-primary" href="{% url 'app_RRHH:create' %}">Crear Persona</a></td>
<br>
<table class="table table-hover">
    <thead>
        <tr class="table-dark">
            <th scope="col">Id</th>
            <th scope="col">Nombre y Apellido</th>
            <th scope="col">Sexo</th>
            <th scope="col">Activo en Planta?</th>
            <th scope="col">Puesto</th>
            <th scope="col">Ingreso</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for empleado in empleado %}
        <tr>
            <td scope="row">{{ empleado.id }}</td>
            <td>{{ empleado.nombre }} {{ empleado.apellido }}</td>
            <td>{{ empleado.sexo }}</td>
            <td>{{ empleado.activo }}</td>
            <td>{{ empleado.puesto }}</td>
            <td>{{ empleado.fec_ing }}</td>
            <td><a class="btn btn-outline-primary" href="{% url 'app_RRHH:detalle' empleado.id %}">Detalle</a></td>
            <td><a class="btn btn-outline-primary" href="{% url 'app_RRHH:editar' empleado.id %}">Editar</a></td>
            <td><a class="btn btn-outline-primary" href="{% url 'app_RRHH:edit' empleado.id %}">Editar 2</a></td>
            <td><a class="btn btn-outline-primary" href="{% url 'app_RRHH:delete' empleado.id %}">Eliminar</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    
<a class="btn btn-outline-primary me-2" href="{% url 'home' %}">Volver</a>

<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <h4>Total de empleados de Empleados:</h4>
        <span class="badge bg-primary rounded-pill">{{ contar }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <h4>Empleados Activos:</h4>
        <span class="badge bg-primary rounded-pill">{{ activo }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <h4>Empleados No-Activos:</h4>
        <span class="badge bg-primary rounded-pill">{{ noactivo }}</span>
    </li>
</ul>
{% endblock contenedor %}